.invite-meet{
  width: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  @include xs{
    width: 80%;
  }
  .title{
    padding: 22px 15px;
    color: #fff;
    font-size: 20px;
    text-align: center;
  }
  .btn{
    padding: 15px;
    background: #41CC8D;
    border-radius: 2px;
    display: block;
    color: #fff;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
  }
  .input{
    display: block;
    border-radius: 2px;
    background-color: rgba(255,255,255,.26);
    margin: 0 0 5px;
    text-align: center;
    font-weight: 200;
    font-size: 18px;
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 15px 12px;
    color: #fff;
    text-decoration: none;
  }
}