.viewport{
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 80px;
  flex-wrap: wrap;
  justify-content: center;
  @include xs{
    padding: 10px 10px 80px;
    flex-direction: row;
  }
  .screen{
    min-width: 30vw;
    flex-grow: 1;
    padding: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-content: center;
    justify-content: center;
    transition: all ease-in-out 300ms;
    @include md{
      min-width: 70vw;
    }
    @include xs{
      min-width: 50%;
      width: 50%;
      &:first-child{
        min-width: 100%;
      }
    }
    .video{
      flex: 1;
      background: rgba(0,0,0,0.3);
      position: relative;
      transition: all ease-in-out 300ms;
      .OT_widget-container{
        background: transparent;
      }
      video{
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
      &.full-width{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background: #000;
        video{
          object-fit: contain;
        }
      }
      .full-width-btn{
        position: absolute;
        width: 71px;
        height: 55px;
        right: 0;
        bottom: 0;
        box-shadow: -3px -3px 10px -1px rgba(0,0,0,0.2);
        background: rgba(0,0,0,0.3);
        color: #fff;
        text-align: center;
        font-size: 24px;
        text-decoration: none;
        line-height: 56px;
        opacity: 0.2;
        transition: all ease-in-out 200ms;
        &:hover{
          opacity: 1;
        }
        &:before{
          content: '\e908';
          font-family: 'scoutfix';
        }
        &.active{
          &:before{
            content: '\e907';
          }
        }
      }
    }
  }
}