@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');@import 'reset';
@import 'fonts';
@import 'mixin';
@import 'notify';
@import 'invite';
@import 'chat';
@import 'control-panel';
@import 'viewport';
body{
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
  background-image: linear-gradient(0deg,#1f83c2 0,#32bdbf 100%);
  transition: all ease-in-out 200ms;
  &.chat-active{
    padding-right: 350px;
    @include xs{
      padding-right: 0px;
    }
    .chat{
      transform: translate3d(0,0,0);
    }
  }
}

.scoutfix-dashboard{
  width: 100%;
  height: 100vh;
  position: relative;
  @include xs{
    padding-top: 50px;
  }
}
.logo{
  position: absolute;
  left: 15px;
  top: 15px;
  height: 65px;
  z-index: 99;
  @include xs{
    left: 5px;
    top: 5px;
    height: 50px;
    width: 100%;
    text-align: center;
  }
  img{
    height: 100%;
  }
}


.chat-single-wrap{
  width: 100vw;
  height: 100vh;
  .chat{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 80%;
    border-radius: 10px;
    box-shadow: 0 0 44px -4px rgba(0, 0, 0, 0.21);
    &-header{
      display: none;
    }
  }
}